script(src='plugins/jquery/jquery.min.js')
// Bootstrap
script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
// AdminLTE
script(src='dist/js/adminlte.js')
// OPTIONAL SCRIPTS
script(src='plugins/chart.js/Chart.min.js')
script(src='dist/js/demo.js')
script(src='dist/js/pages/dashboard3.js')